.form input {
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 0.6em 1em;
  background-color: transparent;
}

.form input:focus,
.form input:active {
  border: 2px solid #99ced7;
  box-shadow: 0 0 3px 1px #99ced7;
  background-color: transparent;
}
