button {
  outline: none;
  border: none;
  padding: 0.6em;
}

.button1 {
  background-color: #00859b;
  color: rgba(255, 255, 255, 0.95);
}

.button1:hover {
  background-color: #006a7c;
}
.button1:focus {
  background-color: #00859b;
}
.button1:disabled {
  background-color: #cce7eb;
}
.form input {
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 0.6em 1em;
  background-color: transparent;
  font-size: 0.95em;
}

.form input:focus,
.form input:active {
  border: 2px solid #99ced7;
  box-shadow: 0 0 3px 1px #99ced7;
  background-color: transparent;
}
